body {
    background-image:  url('../public/1.png');
   background-repeat: no-repeat;
   background-size: cover;
   
}

div {
margin-left: 14rem;
margin-right: 14rem;
}

input {
    padding: 10px;
    margin: 5px;
    display: block;

}



table {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid black;
    padding: 9px;
}
th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #f2f2f2;
}

section {
    background-color: white;
}

h1 {
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    color: white;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding: 10px;
    background-color: rgb(26, 20, 14);
    border-radius: 2rem;
}

button{
    font-size: 20px;
    margin-left: 3rem;
    border-radius: 10px;
    display: block;
    text-decoration: none;
    margin-top: 4px;
    

}

    h2 {
        color: white;
        text-align: center;
        font-size: 1,5rem;
    }
    
